body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
nav ul li {
  list-style-type: none;
}

.link_2 {
  background: #ffb800;
  border-radius: 4px;
  color: white;
  position: fixed;
  right: 10px;
}

.link_1 a {
  color: #000000;
  margin-right: 80px;
}

.link_2 a {
  color: #ffffff;
}

.logo img {
  width: 170px;
}

footer ul li {
  list-style-type: none;
}

footer img {
  width: 100px;
}

footer p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #4f4f4f;
}

footer {
  border-top: 1px solid #f2f2f2;
}

.lower_footer ul {
  font-family: Roboto;
  font-size: 12px;
  color: #4f4f4f;
}

.link_two a {
  color: #ffb800;
}

.link_three a {
  color: #4f4f4f;
}

/* first section */
.first_section {
  /* height: 100vh; */
  /* position: relative; */
}

.first_section .intro_text {
  position: absolute;
  top: 300px;
  left: 30px;
}

.intro_text h1 {
  font-weight: bold;
  /* font-size: 48px; */
  font-size: 2.5rem;
  line-height: 56px;
  color: #ffffff;
}

.intro_text p {
  color: #ffffff;
  font-weight: bold;
}

.intro_text span {
  color: #ffb800;
}
